body{
    background-color: #F2F5F9;
}

.card{
    margin: 0 auto;
    width: 400px;
    height: 550px;
    background-color: #FFFFFF;
    padding-bottom: 15px;
    border-radius: 12px;
}

.image-container{
    position: relative;
}
.image-container img{
    width: 100%;
    border-radius: 10px;
}

.overlay{
    width: 400px;
    position: absolute;
    top: 235px;
}

.ovr{
    width: 100%;
}

.about{
    margin-top: 30px;
    width: 350px;
    margin-left: 20px;
    padding-bottom: 10px;
}

.about h2{
    font-family: "Poppins";
    font-size: 24px;
    color: #111729;
}

.about p{
    font-family: "Lato";
    font-size: 16px;
    color: #4A5567;
}

.author{
    display: flex;
    align-items: center;
    font-family: "Lato";
    font-size: 16px;
}

.profile-picture{
    height: 50px;
    margin-right: 15px;
    margin-left: 20px;
    border-radius: 25px;
}

.name{
    margin-bottom: -15px;
    font-weight: bold;
    color: #111729;
}

.position{
    color: #4A5567;
}

hr{
    background-color: #F2F5F9;
    border: none;
    height: 1px;

}
